@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
    --omrs-color-ink-medium-contrast: rgba(122, 97, 23, 0.6);
    --omrs-color-interaction: #2847ba;
    --omrs-color-interaction-minus-two: rgba(63, 81, 138, 0.12);
    --omrs-color-ink-high-contrast: #e1c346;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    min-height: 100vh;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--bg-color, #fff);
    color: var(--color, #000);
    transition: 250ms;
}


article {
    padding: 3.5em 6em;
}

h2, h3 {
    color: var(--title-color, #802a18);
    margin: 1em 0 0.5em 0;
}

h2 {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-weight: 600;
    margin-top: 0.5em;
    font-size: 20px;
}

a:link {
    text-decoration: none;
    color: #b68732;
}

a:visited {
    color: #dd7e57;
}

a:hover {
    color: #a13a23;
}

hr {
    border: 1px solid var(--title-color, #802a18);
    width: 95%;
    margin-left: 0;
}

hr.thick {
    border: 2px solid var(--color, #6c2414);
    margin: 1em 0;
    width: 100%;
}

img {
    position: relative;
}

img.logo {
    top: 0.4em;
}

img.github {
    padding-right: 0.5em;
    filter: var(--logo-filter, invert(18%) sepia(44%) saturate(2548%) hue-rotate(347deg) brightness(95%) contrast(93%));
}

img.github:hover {
    filter: var(--logo-hover-filter, invert(31%) sepia(24%) saturate(6584%) hue-rotate(352deg) brightness(87%) contrast(99%));
}

img#me {
    width: 8em;
    border: 3px solid var(--title-color, #802a18);
    border-radius: 3.5em;
    float: right;
    top: 0.9em;
    right: 4.5em;
}

nav {
    font-size: 24px;
    background-color: var(--navbar-color, rgba(244, 236, 222, 0.75));
    padding: 0.7em;
    margin-bottom: 1em;
    border-radius: 3em;
    width: 95%;
    text-align: right;
    position: sticky;
    top: 0.4em;
    z-index: 1;
}

nav > a {
    padding: 0 0.3em;
}

nav > a.left {
    float: left;
    padding-right: 0.6em;
}

div.row {
    display: flex;
}

div.column {
    flex: 50%;
    padding: 0.4em;
}

div.label {
    margin: 0.4em 0 0.2em 0;
    font-size: 16px;
}

li + li {
    margin-top: 0.6em;
}

input, textarea {
    border-radius: 0.6em;
    background-color: var(--color, rgba(244, 236, 222, 0.65));
}

#copyright {
    text-align: right;
    margin: 1em 1em 0 0;
}


/* Dark Mode Toggle */

#switcher {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    top: 1rem;
    right: 1rem;
    width: 4em;
    height: 2em;
    background-color: var(--color, #000);
    border-radius: 2em;
    font-size: 20px;
}

#switcher::after {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    width: 1.5em;
    height: 1.5em;
    content: "";
    background-color: var(--bg-color, #fff);
    border-radius: 2em;
    transform: translateX(var(--translate, 0));
    transition: 250ms;
}

#switcher:checked {
    --translate: 2em;
    --bg-color: #424242;
    --color: #eee6dc;
    --navbar-color: rgba(238, 230, 220, 0.75);
    --title-color: #eaddc6;
    --logo-filter: invert(96%) sepia(8%) saturate(893%) hue-rotate(327deg) brightness(95%) contrast(92%);
    --logo-hover-filter: invert(62%) sepia(13%) saturate(896%) hue-rotate(5deg) brightness(96%) contrast(93%);
}

#switcher:checked ~ * {
    --bg-color: #424242;
    --color: #eee6dc;
    --navbar-color: rgba(238, 230, 220, 0.75);
    --title-color: #eaddc6;
    --logo-filter: invert(96%) sepia(8%) saturate(893%) hue-rotate(327deg) brightness(95%) contrast(92%);
    --logo-hover-filter: invert(62%) sepia(13%) saturate(896%) hue-rotate(5deg) brightness(96%) contrast(93%);
}

/* Submit Button */

button[type='submit'] {
    color: var(--color, #802a18);
    appearance: none;
    background-color: var(--bg-color, #fff);
    border: 2px solid var(--color, #802a18);
    border-radius: 0.6em;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding: 0.6em 1.2em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

button[type='submit']:disabled {
    pointer-events: none;
}

button[type='submit']:hover {
    color: var(--bg-color, #fff);
    background-color: var(--color, #802a18);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.5em 1em;
    transform: translateY(-2px);
}

button[type='submit']:active {
    box-shadow: none;
    transform: translateY(0);
}

/* Contact Form */

div.form {
    font-family: "Roboto", sans-serif;
    display: block;
    align-items: flex-start;
    justify-content: space-around;
}

/** END: Non Openmrs CSS **/
div.omrs-input-group {
    margin-bottom: 1.2rem;
    position: relative;
    width: 15rem;
}

/* Input*/
.omrs-input-filled > input, .omrs-input-filled > textarea {
    border: none;
    border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
    width: 100%;
    height: 2rem;
    font-size: 1.0625rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 0.825rem;
    padding-bottom: 0.5rem;
}

.omrs-input-filled > textarea {
    height: 8rem;
    width: 25rem;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus,
.omrs-input-underlined > textarea:focus,
.omrs-input-filled > textarea:focus {
    outline: none;
}

.omrs-input-filled > .omrs-input-label {
    position: absolute;
    top: 0.9375rem;
    left: 0.875rem;
    line-height: 147.6%;
    color: var(--omrs-color-ink-medium-contrast);
    transition: top .2s;
}


.omrs-input-filled > .omrs-input-helper {
    font-size: 0.9375rem;
    color: var(--omrs-color-ink-medium-contrast);
    letter-spacing: 0.0275rem;
    margin: 0.125rem 0.875rem;
}

.omrs-input-filled > input:hover, .omrs-input-filled > textarea:hover {
    background: var(--omrs-color-interaction-minus-two);
    border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label,
.omrs-input-filled > textarea:focus + .omrs-input-label,
.omrs-input-filled > textarea:valid + .omrs-input-label {
    top: 0;
    font-size: 0.9375rem;
}

.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > textarea:focus + .omrs-input-label {
    color: var(--omrs-color-interaction);
}

.omrs-input-filled:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > textarea:focus {
    border-color: var(--omrs-color-interaction);
}